body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: lightyellow;
  color: black;
}
header, footer {
  text-align: center;
}
.nav-btn {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}

header h1 {
  font-size: 2em;
}

img {
  border-radius: 50%;
  margin: 20px 0;
}

section {
  margin: 20px 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
}

table h3 {
  margin: 0;
  font-size: 1.1em;
}

table p {
  margin: 0;
}
